@use 'src/renderer/assets/styles/variables' as *;

.calculator {
  max-width: 300px;
  margin: 0 auto;
}

.calculator-expression {
  font-size: 1.2rem;
  text-align: right;
  min-height: 2rem;
  padding: $padding-base;
  background-color: $background-light;
  border-radius: $border-radius-base;
  border: 1px solid $border-light;
  color: $text-dark;
}

.calculator-display {
  font-size: 1.2rem;
  text-align: right;
}

.calculator-btn {
  height: 48px;
  font-size: 1.1rem;
  font-weight: 500;
}