@use 'src/renderer/assets/styles/variables' as *;
@use 'src/renderer/assets/styles/mixins';

.product-table {
  @include mixins.table-base;
  margin-bottom: $padding-large;
}

.product-table .total-row td {
  font-weight: bold;
}

.payment-table {
  @include mixins.table-base;
  margin-bottom: $padding-large;
}

@media print {
  .v-card-actions {
    display: none !important;
  }
  .v-dialog {
    position: static !important;
    box-shadow: none !important;
  }
  .product-table {
    font-size: 12px;
  }
}